{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <table class="table table-striped" style="overflow-x: auto !important;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Street No.</th>
                <th scope="col">Zip</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Phone</th>
                <th scope="col">Birth Day</th>
                <th scope="col">Email</th>
                <th scope="col">Picture</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set counter = 0 %}
            {% for address in addresses %}
            <tr>
                {% set counter = counter + 1 %}
                <th scope="row">{{ counter }}</th>
                <td width="100px">{{ address.firstName }}</td>
                <td width="100px">{{ address.lastName }}</td>
                <td width="100px">{{ address.streetNumber }}</td>
                <td width="100px">{{ address.zip }}</td>
                <td width="100px">{{ address.city }}</td>
                <td width="100px">{{ address.country }}</td>
                <td width="100px">{{ address.phoneNumber }}</td>
                <td width="100px">{{ address.birthDay }}</td>
                <td width="100px">{{ address.email }}</td>
                <td width="100px"></td>
                <td width="100px">
                    <a class="btn btn-primary" href="/edit/{{ address.id }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="/delete/{{ address.id }}" role="button">Remove</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(addresses) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
