{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for address in address %}
            <tr>
                <th scope="row">{{ address.id }}</th>
                <td>{{ address.firstName }}</td>
                <td>{{ address.lastName }}</td>
                <td>
                    <a class="btn btn-primary" href="/edit/{{ address.id }}" role="button">Edit</a>
                    <a class="btn btn-primary" href="/delete/{{ address.id }}" role="button">Remove</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
